Repository devdaydresden/devday_website, pull requests merged in 2019-03, with the labels that each got.

#127 Limited session reservation
  Pipfile
  Pipfile.lock
  devday/devday/locale/de/LC_MESSAGES/django.po
  devday/sponsoring/migrations/0003_change_meta_options.py
  devday/talk/admin.py
  devday/talk/forms.py
  devday/talk/locale/de/LC_MESSAGES/django.po
  devday/talk/migrations/0036_add_session_reservation.py
  devday/talk/models.py
  devday/talk/templates/talk/admin/publish_talks.html
  devday/talk/templates/talk/admin/talkslot_add_form.html
  devday/talk/tests/test_admin.py
  devday/talk/tests/test_models.py
Labels: django-admin, enhancement

#133 #126 added a grid-list view for sessions in archive
  devday/devday/static/css/style.css
  devday/devday/static/img/talk-header.jpg
  devday/talk/templates/talk/talk_list.html
  devday/talk/templates/talk/talk_list_entry.html
  frontend/src/assets/img/talk-header.jpg
  frontend/src/scss/components/card.scss
  frontend/src/scss/components/talk-card.scss
  frontend/src/scss/style.scss
Labels: enhancement, frontend

#132 Attendee session voting
  devday/devday/cms_menus.py
  devday/devday/locale/de/LC_MESSAGES/django.po
  devday/devday/urls.py
  devday/event/admin.py
  devday/event/locale/de/LC_MESSAGES/django.po
  devday/event/migrations/0007_event_voting_open.py
  devday/event/models.py
  devday/speaker/views.py
  devday/talk/forms.py
  devday/talk/locale/de/LC_MESSAGES/django.po
  devday/talk/migrations/0037_attendee_participation_models.py
  devday/talk/models.py
  devday/talk/templates/talk/talk_grid.html
  devday/talk/templates/talk/talk_voting.html
  devday/talk/tests/test_models.py
  devday/talk/tests/test_views.py
  devday/talk/urls.py
  devday/talk/urls_event.py
  devday/talk/views.py
Labels: enhancement

#144 Add voting result column for staff members
  devday/talk/locale/de/LC_MESSAGES/django.po
  devday/talk/templates/talk/talk_voting.html
  devday/talk/tests/test_views.py
  devday/talk/views.py
Labels: enhancement
