Repository devdaydresden/devday_website, pull requests merged in 2019-09, with the labels that each got.

#198 Add 'Getting Started' Guide to README
  README-DEV.md
Labels: enhancement

#199 Allow 0.0.0.0 to Access Page in Development
  devday/devday/settings/dev.py
Labels: enhancement

#200 Setup Django REST Framework
  Pipfile
  Pipfile.lock
  devday/devday/settings/base.py
  devday/devday/urls.py
  devday/devday/utils/devdata.py
  devday/speaker/tests/test_views.py
  devday/sponsoring/tests/urls.py
  devday/talk/api_views.py
  devday/talk/urls.py
Labels: api, django

#204 Add 2020 logo
  devday/devday/static/css/style.css
  devday/devday/static/fonts/fa-brands-400.eot
  devday/devday/static/fonts/fa-brands-400.svg
  devday/devday/static/fonts/fa-brands-400.ttf
  devday/devday/static/fonts/fa-brands-400.woff
  devday/devday/static/fonts/fa-brands-400.woff2
  devday/devday/static/fonts/fa-regular-400.eot
  devday/devday/static/fonts/fa-regular-400.svg
  devday/devday/static/fonts/fa-regular-400.ttf
  devday/devday/static/fonts/fa-regular-400.woff
  devday/devday/static/fonts/fa-regular-400.woff2
  devday/devday/static/fonts/fa-solid-900.eot
  devday/devday/static/fonts/fa-solid-900.svg
  devday/devday/static/fonts/fa-solid-900.ttf
  devday/devday/static/fonts/fa-solid-900.woff
  devday/devday/static/fonts/fa-solid-900.woff2
  devday/devday/static/img/logo-20.png
  devday/devday/static/img/logo-20.svg
  devday/devday/static/js/main.js
  devday/devday/templates/base.html
  frontend/docker/build.sh
  frontend/package-lock.json
  frontend/run_docker.sh
  frontend/src/assets/img/logo-20.png
  frontend/src/assets/img/logo-20.svg
  frontend/yarn.lock
Labels: frontend
